body {
	font-size: 18px;
	display: none;
}

.form-control {
	width: 50%;
	margin: 0 auto;
}

.img-thumbnail {
	max-width: 100px;
}

/* navigation */
.navbar-inverse {
	margin-bottom: 20px;
}

.navbar-nav {
	margin-left: 20px;
}

.navbar-brand {
	border-right: 2px solid #66cdaa;
}

.navbar-right a {
	border-left: 2px solid #66cdaa;
}

.bordered {
	border-right: 2px solid black;
	border-radius: 20px;
	max-width: 130px;
}

.navbar-right {
	margin-right: 10px;
}

/* table */	
td {
	border-right: 4px solid #772953;
}

td:last-of-type {
	border: none;
}



td p {
	height: 100px;
}

td img:hover,
td a:hover {
	opacity: 0.6;
}


/* footer */
.footer {
	background-color: #000;
	color: #fff;
}

.footer p {
	padding: 10px;
}
