body {
	font-size: 18px;
	display: none;
}

.form-control {
	width: 50%;
	margin: 0 auto;
}

.img-thumbnail {
	max-width: 100px;
}

/* navigation */
.navbar-inverse {
	margin-bottom: 20px;
}

.navbar-nav {
	margin-left: 20px;
}

.navbar-brand:hover {
	background-color: #772953;
}

.bordered {
	border-right: 2px solid black;
	border-radius: 20px;
	max-width: 130px;
}

.navbar-right {
	margin-right: 10px;
}

/* table */	
th.text-success {
	color: #772953;
}

td {
	border-right: 4px solid #772953;
}

td:last-of-type {
	border: none;
}

td p {
	height: 90px;
}

td img:hover,
td a:hover {
	opacity: 0.6;
}

/* footer */
.footer {
	background-color: #000;
	color: #fff;
}

.footer p {
	padding: 10px;
}

button.btn, a {
	font-size: 18px;
	color: #fff;
	background-color: #772953;
}

button:hover > a.btn-checkout,
a:hover {
	color: #fff;
	background-color: #efb73e;
	text-decoration: none;
}

a.view-store {
	background-color: transparent;
	color: #772953;
}

a.view-cart{
	background-color: transparent;
	color: #772953;
}

